.container{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.team{
    display: flex;
    flex-direction: column;
    width: 200px;
   
}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

button{
    padding: 10px 20px;
    margin-top: 20px;
    background-color: peru;
    border-radius: 20px;
    width: 100px;
}

select{
    height: 20px;
}
input{
    height: 20px;
}